/* FULL SCREEN HERO */
.hero{
    width:100%;
    height:100%;   /* 🔥 FULL SCREEN */

    background-image: url("../assets/image/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

/* CENTER CONTENT */
.hero-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
}

/* HEY */
.hero h1{
    font-size:80px;
    font-weight:bold;
}

/* DOWN SPACE */
.hero h2{
    margin-top:40px;
    font-size:30px;
}

.hero p{
    margin-top:20px;
    font-size:20px;
}

