/* NAVBAR */
.navbar{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:70px;

  /* 🔥 Transparent */
  background:transparent;

  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 40px;
  z-index:999;
}

/* LEFT SIDE */
.nav-left{
  display:flex;
  align-items:center;
}

/* LOGO */
.logo{
  width:55px;
  cursor:pointer;
}

/* DASHBOARD ICON */
.dash-icon{
  width:32px;
  margin-left:20px;
  cursor:pointer;
  transition:0.2s;
}

/* 🔥 ICON CLICK BLINK */
.dash-icon:active{
  transform:scale(0.85);
}

/* RIGHT SIDE LINKS */
.nav-right{
  display:flex;
  align-items:center;
}

/* NAV LINKS */
.nav-right a{
  color:burlywood;
  margin-left:30px;
  text-decoration:none;
  font-size:18px;
  font-weight:500;

  transition:0.25s;
}

/* 🔥 HOVER EFFECT */
.nav-right a:hover{
  color:#00ffae;
}

/* 🔥 CLICK BLINK */
.nav-right a:active{
  transform:scale(0.85);
  opacity:0.6;
}
