/* ABOUT SECTION */
.about {
  width: 100%;
  max-width: 900px;
  margin: 80px auto;
  padding: 60px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}
/* HEADER */
.about-header{
  background:linear-gradient(to right,#1faa59,#43d17c);
  padding:25px;
  text-align:center;
  color:white;
  letter-spacing:2px;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #111;
}

.about p {
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
}