/* CONTACT SECTION */
.contact-container {
  width: 100%;
  padding: 80px 0;   /* instead of min-height */
  background: #f5f7fa;
}

/* TITLE */
.contact-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

/* MAIN BOX */
.contact-box {
  width: 85%;
  margin: auto;
  background: white;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

/* LEFT */
.contact-left {
  width: 30%;
  text-align: center;
  border-right: 2px solid #eee;
  padding-right: 20px;
}

.contact-logo {
  width: 120px;
  margin-bottom: 20px;
}

.download-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.store-image {
  width: 170px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}

.store-image:hover {
  transform: scale(1.05);
}

.or {
  margin: 10px 0;
  font-weight: bold;
  color: gray;
}

/* MIDDLE */
.contact-middle {
  width: 30%;
  border-right: 2px solid #eee;
  padding: 0 20px;
  line-height: 1.8;
  font-size: 17px;
}

/* RIGHT */
.contact-right {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.contact-right label {
  margin-top: 10px;
  font-weight: 600;
}

.contact-right input,
.contact-right textarea {
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.contact-right input:focus,
.contact-right textarea:focus {
  border-color: #00c853;
}

/* BUTTON */
.send-btn {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #b2df8a;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: #8bc34a;
  color: white;
}

/* FOOTER */
.contact-footer {
  text-align: center;
  padding: 18px;
  background: linear-gradient(to right,#b2df8a,#4caf50);
  color: black;
  font-weight: 500;
}