
/* input wrapper */
.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

/* input */
.input {
  width: 100%;
  padding: 12px 46px 12px 16px; /* space for icon */
  border-radius: 25px;
  border: 1px solid #e5e5e5;
  outline: none;
  font-size: 14px;
}

/* icon inside input */
.input-icon {
  position: absolute;
  right: 16px;
  top: 40%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.7;

}

/* clickable eye icon */
.input-icon.clickable {
  cursor: pointer;
}

.input-icon.clickable:hover {
  opacity: 1;
}

/* forgot password */
.forgot {
  text-align: right;
  font-size: 13px;
  color: gray;
  cursor: pointer;
  margin-bottom: 14px;
}
.google-icon {
  width: 18px;
  height: 18px;
  position: relative;
  right: 20px;
  top: 3px;
}
