.signup-title {
  margin-bottom: 20px;
}
.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  padding: 12px 46px 12px 16px;
  border-radius: 25px;
  border: 1px solid #e5e5e5;
  outline: none;
  font-size: 14px;
}

.input-icon {
  position: absolute;
  right: 16px;
  top: 40%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.8;
}

.input-icon.clickable {
  cursor: pointer;
}
.google-icon {
  width: 18px;
  height: 18px;
  position: relative;
  right: 20px;
  top: 3px;
}