/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ================= APP BACKGROUND ================= */
.app {
  height: 100vh;
  width: 100vw;

  background-image: url("./assets/image/background.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
  overflow: hidden;
}

/* ================= HERO SECTION ================= */
.hero {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  color: white;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero h2 {
  font-size: 1.5rem;
}

.hero p {
  font-size: 1rem;
}
